body{
    background-color: #C5E3E8;
}
p {
    color: #55556f;
}
h1 {
    color: #55556f;
}
h2 {
    color: #8a8aab;
}
h3 {
    color: #8a8aab;
}
.class1{
    color:blue;
}
.my-paragraph{
    color: red;
}
#biggest{
    font-size: 50px;
}
p:hover{
    color:red;
}